# RSA 私钥设置
#-----BEGIN RSA PRIVATE KEY-----
#           ......
#-----END RSA PRIVATE KEY-----
aidescit.rsa.private=

# RSA 公钥设置
#-----BEGIN PUBLIC KEY-----
#           ......
#-----END PUBLIC KEY-----
aidescit.rsa.public=