# 当前学期编号，例如第一学期则为：1
aidescit.semester.num=
# 当前学年，例如：2020-2021
aidescit.semester.year=
# 当前是否开启教评，请根据教务系统具体情况设置，默认为：false
aidescit.semester.evaluation=false
# 当前学期开学日期，请填写如下格式的日期：yyyy/MM/dd
aidescit.semester.start=